@charset "utf-8";

// Color
//------------------------------------------------------------------------------

	//thema color
	$color_main: #195aa2;
	$color_sub: #fff;

	//text color
	$color_text: #515457;

	//Link color
	$color_link: $color_text;

	//Grayscale
	$black100: #000;
	$black90: #333;
	$black80: #504f4f;
	$black70: #666;
	$black60: #7d7d7d;
	$black50: #999;
	$black40: #bbbece;
	$black30: #c4cace;
	$black20: #DDD;
	$black10: #eeeeee;
	$black0: #f7f7f7;

	// Other
	$red: #a2381e;




// Color Components
//------------------------------------------------------------------------------

	$colors: (
		red: $red
	);

	// $colorsで定義した色は、Megane Templateの「Text Color」コンポーネントとしても定義されます。
	//（http://megane-template.com/components/text.html#TextColor）
	// ex）ピンク色を追加する場合
	// $pink: #f87891;
	// $colors: (
	// 	：
	// 	：
	// 	pink: $pink
	// );
	// ↓↓↓
	// .f-txt_pink{
	// 	color: #f87891;
	// }
