@charset "utf-8";

// Column Margin
//------------------------------------------------------------------------------

	//Column gutter
	$col_gutter: 60;//px

	//Column Margin Bottom
	$col_margin-bottom: 0;//px



// section | section.f-section { margin-top: $section_margin_top + px; } | /common/fw/layout/layout.scss
//------------------------------------------------------------------------------
	$section_margin_top: 60;//px
