@charset "utf-8";

$col_width : 100/12/100;

// ---------------------------------------------------------------------------
//
// Flex width
//
// ---------------------------------------------------------------------------

@mixin flexWidth( $class: "u-flex", $gutter: $col_gutter, $breakpoint: "" ){

    @for $i from 1 through 12 {
        >.#{$class}#{$i}#{$breakpoint} { width: calc( #{percentage($col_width*$i)} - #{$gutter}px ); }
    }
    >.#{$class}_fifth#{$breakpoint} { width: calc( 20% - #{$gutter}px ); }

}



// ---------------------------------------------------------------------------
//
// Flex gutter
//
// ---------------------------------------------------------------------------

@mixin flexGutter( $gutter: $col_gutter ){

    margin-left: -#{$gutter/2}px;
    margin-right: -#{$gutter/2}px;

    > * {
        margin-left: #{$gutter/2}px;
        margin-right: #{$gutter/2}px;
    }

}
