@charset "utf-8";

// ==========================================================================
// Foundation
// ==========================================================================

@import "foundation/setting/setting";
@import "foundation/mixin/mixin";
@import "foundation/reset";
@import "foundation/normalize";


// ==========================================================================
// Layout
// ==========================================================================

@import "layout/layout";
@import "layout/libs/swiper";
@import "layout/header";
@import "layout/footer";


// ==========================================================================
// Object
// ==========================================================================

// -----------------------------------------------------------------
// Component
// -----------------------------------------------------------------
@import "object/component/btn";
@import "object/component/title";

// -----------------------------------------------------------------
// Project
// -----------------------------------------------------------------

@import "object/project/home";

// -----------------------------------------------------------------
// Utility
// -----------------------------------------------------------------

// Megane Template Utility
@import "object/utility/base_layout";

.fw {

    @import "object/utility/column";
    @import "object/utility/flex";
    @import "object/utility/font_size";
    @import "object/utility/form";
    @import "object/utility/list";
    @import "object/utility/margin_padding";
    @import "object/utility/table_layout";
    @import "object/utility/table";
    @import "object/utility/text";
    @import "object/utility/box";

}//.fw
